<div id="color">
<div id="footer" class="row">
    <div class="col-4" style="text-align: center;">
        <p>@Html.ActionLink("Home!", "Index", "Home", new {})</p>
    </div>
    <div class="col-4" style="text-align: center;">
        @Html.ActionLink("Treats!", "Index", "Treats")
    </div>
    <div class="col-4" style="text-align: center;">
        <p>@Html.ActionLink("Flavors!", "Index", "Flavors")</p>
    </div>
</div>
</div>