.jumbotron {
  text-align: center;
  background-color: rgb(123, 104, 184);
}

#jumbotron {
  font-size: 300%;
}

body {
  text-align: center;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color: black;
  background: rgb(123, 104, 184);
  padding:9px;
  text-decoration: underline;
}

#color a {
  color: black;
}
