@{
    Layout = "_Layout";
}

@model PierresShop.Models.Treat

<h2>Add a flavor!</h2>

<h4>Add a flavor to this treat: @Html.DisplayFor(model => model.Name)</h4><br>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name, new {style = "padding-right: 15px;"})
    @Html.DropDownList("FlavorId")<br><br>

    <input type="submit" value="Save" class="btn btn-dark"/>
}
